<div class="po-wrapper">
  <po-toolbar p-title="Conversao de moeda"></po-toolbar>

  <po-page-default p-title="AppName">
    <po-accordion>
      <po-accordion-item p-label="Real para Dolar">
        <div class="po-row">
          <po-input [(ngModel)]="real1" p-label="Valor em real" p-placeholder="Digite o valor em real"
            class="po-xl-2 po-sm-2 po-md-2 po-lg-2"></po-input>
          <po-input [(ngModel)]="dolar1" p-label="Valor em dolar" p-readonly p-placeholder="Seu valor em dolar"
            class="po-xl-2 po-sm-2 po-md-2 po-lg-2"></po-input>
        </div>
        <po-button (p-click)="converterToReal()" p-label="Converter" p-icon="po-icon po-icon-finance"></po-button>
      </po-accordion-item>
      <po-accordion-item p-label="Dolar para Real">
        <div class="po-row">
          <po-input [(ngModel)]="dolar2" p-label="Valor em dolar" p-placeholder="Digite o valor em dolar"
            class="po-xl-2 po-sm-2 po-md-2 po-lg-2"></po-input>
          <po-input [(ngModel)]="real2" p-label="Valor em real" p-readonly p-placeholder="Digite o valor em real"
            class="po-xl-2 po-sm-2 po-md-2 po-lg-2"></po-input>
        </div>
        <po-button (p-click)="converterToDolar()" p-label="Converter" p-icon="po-icon po-icon-finance"></po-button>
      </po-accordion-item>
    </po-accordion>

  </po-page-default>
</div>
